<html>

<head>
<title>List of Common Machine Learning Algorithms</title>
</head>

<body>
<a href=https://www.analyticsvidhya.com/blog/2015/08/common-machine-learning-algorithms/> Analtyics Vidhya</a>

<p>This is an R HTML document. When you click the <b>Knit HTML</b> button a web page will be generated that includes both content as well as the output of any embedded R code chunks within the document. You can embed an R code chunk like this:</p>
Here is the list of commonly used machine learning algorithms. These algorithms can be applied to almost any data problem:

Linear Regression</p>
Logistic Regression</p>
Decision Tree</p>
SVM</p>
Naive Bayes</p>
KNN</p>
K-Means</p>
Random Forest</p>
Dimensionality Reduction Algorithms</p>
Gradient Boost & Adaboost</p>
<!--begin.rcode
summary(cars)
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

</body>
</html>
